body {
    font-family: Arial, sans-serif;
    background-color: rgb(96, 162, 159);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: aqua;
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: 'Arial', sans-serif;
    color: white;
    font-size: 3em;
    background-color: rgb(59, 80, 240);
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    display: inline-block;
    padding: 10px;
    margin: 0;
}

.logo {
    float: left;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
    width: 70px;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

main {
    flex-grow: 1;
    padding: 20px;
}

#titre h2 {
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    background-color: white;
}

#tableau > article {
    display: inline-flex;
    height: 100%;
}

table {
    width: 20%;
    height: auto;
    border-collapse: collapse;
    margin-top: 20px;
    
}

th, td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.or{
    background-color: gold;
}

.argent{
    background-color: silver;
}

.bronze{
    background-color: #CD7F32;
    ;
}

.resultat{
    background-color: #8CB9B5;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

footer nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

footer nav a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    .logo {
        float: none;
        display: block;
        margin: 0 auto 10px;
    }

    table {
        font-size: 0.8em;
    }
}