@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap');

* {
    scroll-behavior: smooth;    
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #333333;
    color: #E6E6E6;
    display: flex;
    flex-direction: column;
    min-width: 723px;
}


/*----------------------- HEADER NAV -------------------------*/
header {
    background-color: #282727;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

header #logo {
    background: none;
    float: left;
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid #000;
}

#audio-page {
    display: flex;
    float: right;
}

#audioControl {
    background: none;
    border: none;
    cursor: pointer;
}
  
#buttonImage {
    border-radius: 8px;
    padding: 10px;
    width: 50px;
    transition: transform 0.2s ease;
}
  
#buttonImage:hover {
    background-color: #4D4D4D;
    transform: scale(1.1);
}

h1 {
    font-family: 'Sawarabi Mincho', serif;
    color: #E6E6E6;
    font-size: 2.5em;
    background-color: #4D4D4D;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 auto;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.logo {
    float: left;
    width: 70px;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}   

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex: 1;
}

nav ul li {
    display: flex;
}

nav a {
    color: #B3B3B3;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    color: #E6E6E6;
    background-color: #4D4D4D;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#burger {
    display: flex;
    cursor: pointer;
    display: none;
    flex-direction: column;
    gap: 8px;
    text-align: right;
}
  
#burger span {
    width: 65px;
    height: 13px;
    background-color: black;
}

/*----------------------- MAIN -------------------------*/
main {
    flex-grow: 1;
    padding: 20px;
}

#titre h2 {
    font-weight: 500;
    color: #333333;
    background-color: #B3B3B3;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

h3 {
    color: #B3B3B3;
}

#tableau > article {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: stretch;
    justify-content: flex-start;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #4D4D4D;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

th, td {
    border: 1px solid #333333;
    padding: 15px;
    text-align: center;
    color: #E6E6E6;
}

th {
    background-color: #282727;
    font-weight: 500;
}

.or {
    background-color: gold;
}

.argent {
    background-color: silver;
}

.bronze {
    background-color: #CD7F32;
}

.resultat {
    background-color: #8CB9B5;
}

.sites {
    background-color: #E6E6E6;
    color: #333333;
}

.image-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
}

.image-container img {
    width: 100%;
    flex-grow: 1;
    object-fit: cover;
    margin: 0;
}

.Judo {
    font-family: 'Noto Serif JP', serif;
    background-image: linear-gradient(rgba(51,51,51,0.95), rgba(51,51,51,0.95)), url("./Image/carte de la france.webp");
    border: none;
}

.title-text {
    display: flex;
    justify-content: center;
    margin-top: 10px
}

.text {
    text-align: center;
}

.video-judo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.video-judo video {
    border: 1px solid #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.6);
}

footer {
    background-color: #282727;
    color: #B3B3B3;
    padding: 20px;
    margin-top: auto;
    text-align: center;
}

footer .navigation {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;
}

.end {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

footer nav a {
    color: #B3B3B3;
    text-decoration: none;
    gap: 200px;
    transition: color 0.3s ease;
}

footer nav a:hover {
    color: #E6E6E6;
}

#mention {
    font-size: 14px;
    color: #B3B3B3;
}

#mail {
    color: white;
    text-decoration: none;
}


/*======== PART NAV ===============*/ 
@media (max-width: 1017px) {
    .logo-container{
        margin:0;
    }

    header nav ul {
        display: none;
    }
    
    #burger {
        display: flex;
        margin-left: auto;
    }

}

/*======== PART TABLEAU ===============*/ 
@media (max-width: 1017px) {
    .image-container{
        display: none;
    }
}